* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.parent {
    display: inline-block;
}

.box1 {
    display: inline-block;
    position: absolute;
    left: 150px;
    background-color: red;
    border-radius: 30px;
    font-size: 2rem;
    text-align: center;
    width: 200px;
    height: 60px;
    padding: 10px;
    ;
}

#two {
    background-color: green;
    border-radius: 20px;
    padding: 20px;
    position: absolute;
    top: 70px;
}